/* aboutUs CSS */

a {
    color: var(--text-light-color);
}


/* CSS SMALL DEVICES */
@media (max-width: 679px) {
    /* TAGS */   
    body {
        min-height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--background-color);
        max-width: 100%;
        overflow-x: hidden;
    }

    header {
        margin: 3rem 0 0 0;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 65%;
        gap: var(--gap-mobile);
        margin: 0 0 1.5rem 0;
    }

    p {
        font-size: var(--paragraph-size-mobile);
        text-align: center;
    }

    h2 {
        font-size: var(--paragraph-size-mobile);
        color: var(--primary-color);
    }

    h1 {
         font-size: var(--font-size-mobile);
        color: var(--primary-color);
        text-align: center;
    }


    /* LOGO */
    .logo {
        width: var(--logo-size);
        height: auto;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    .section-navigation {
        display: flex;
        justify-content: center;
        background-color: var(--secondary-color);
        align-items: center;
        flex-direction: column;
        width: 260px;
        padding: 12px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease-in-out ;
            &:active {
                transform: scale(1.04);
            }
    }

    .div-container {
        border: 1px solid var(--border-color);
        padding: 12px;
        border-radius: 12px;
        width: 260px;
    }
    
    .section-navigation__a {
        color: var(--text-light-color);
        font-size: var(--font-size-mobile);
        font-weight: 600;
    }

    .section-navigation__a::after {
        content: '';
        background-image: url('../../assets/img/enter.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        right: 65px;
    }

    .section-container__text {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .section-participant{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .section-participant figure{
        margin-bottom: 10px;
    }

    .section-participant figure img{
        border-radius: 10px;
        margin-top: 10px
    }

    .section-icon__figure{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .section-icon__figure{
        margin-top: 10px;
    }

    .section-icon__figure img{
        width: 40px;
        cursor: pointer;
        transition: 0.3s ease-in-out ;
            &:active {
                transform: scale(1.04);
            }
    }

    .footer {
        width: 100%;
        background-color: var(--primary-color);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .footer p {
        font-size: 16px;
        color: var(--text-light-color);
        max-width: 80%;
        text-align: center;
    }

    .footer__figure {
        display: flex;
        flex-direction: row;
        gap: var(--gap-mobile);
    }

    .footer__figure a img {
        &:active {
            transform: scale(1.04);
            transition: 1s ease-in-out;
        }
    }

    .footer__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav__ul li a{
        font-size: 16px;
        font-weight: 300;
            &:active {
                transform: scale(1.04);
                color: var(--secondary-color)
            }
    }
}


/* CSS LARGE DEVICES */
@media (min-width: 680px) and (max-width: 1200px) {
    /* TAGS */   
    body {
        min-height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--background-color);
        max-width: 100%;
        overflow-x: hidden;
    }

    header {
        margin: 3rem 0 0 0;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 65%;
        gap: var(--gap-mobile);
        margin: 0 0 1.5rem 0;
    }

    p {
        font-size: var(--paragraph-size-mobile);
        text-align: center;
         max-width: 270px;
    }

    h2 {
        font-size: var(--paragraph-size-mobile);
        color: var(--primary-color);
    }

    h1 {
         font-size: var(--font-size-mobile);
        color: var(--primary-color);
        text-align: center;
    }

    /* LOGO */
    .logo {
        width: var(--logo-size);
        height: auto;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    .section-navigation {
        display: flex;
        justify-content: center;
        background-color: var(--secondary-color);
        align-items: center;
        flex-direction: column;
        width: 270px;
        padding: 12px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease-in-out ;
            &:active {
                transform: scale(1.04);
            }
    }

    .div-container {
        max-width: 270px;
        border: 1px solid var(--border-color);
        padding: 12px;
        border-radius: 12px;
        width: 270px;
    }
    
    .section-navigation__a {
        color: var(--text-light-color);
        font-size: var(--font-size-mobile);
        font-weight: 600;
    }

    .section-navigation__a::after {
        content: '';
        background-image: url('../../assets/img/enter.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        right: 65px;
    }

    .section-container__text {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .section-participant{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .section-participant figure{
        margin-bottom: 10px;
    }

    .section-participant figure img{
        border-radius: 10px;
        margin-top: 10px;
    }

    [data-photo] {
        width: 270px;
    }


    .section-icon__figure{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .section-icon__figure{
        margin-top: 10px;
    }

    .section-icon__figure img{
        width: 40px;
        cursor: pointer;
        transition: 0.3s ease-in-out ;
            &:active {
                transform: scale(1.04);
            }
    }

    .footer {
        width: 100%;
        background-color: var(--primary-color);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .footer p {
        font-size: 16px;
        color: var(--text-light-color);
        max-width: 80%;
        text-align: center;
    }

    .footer__figure {
        display: flex;
        flex-direction: row;
        gap: var(--gap-mobile);
    }

    .footer__figure a img {
        &:active {
            transform: scale(1.04);
            transition: 1s;
        }
    }

    .footer__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav__ul li a{
        font-size: 16px;
        font-weight: 300;
            &:active {
                transform: scale(1.04);
                color: var(--secondary-color)
            }
    }
}

@media (min-width: 1201px) {
    /* TAGS */   
    body {
        min-height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--background-color);
        max-width: 100%;
        overflow-x: hidden;
    }

    header {
        margin: 3rem 0 0 0;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 65%;
        gap: var(--gap-mobile);
        margin: 0 0 1.5rem 0;
    }

    p {
        font-size: 22px;
        text-align: center;
        max-width: 300px;
    }

    h1 {
        font-size: 24px;
        color: var(--primary-color);
        text-align: center;
    }

    /* LOGO */
    .logo {
        width: var(--logo-size);
        height: auto;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    .section-navigation {
        display: flex;
        justify-content: center;
        background-color: var(--secondary-color);
        align-items: center;
        flex-direction: column;
        width: 300px;
        padding: 12px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease-in-out ;
            &:active {
                transform: scale(1.04);
            }
    }

    .div-container {
        max-width: 300px;
        border: 1px solid var(--border-color);
        padding: 12px;
        border-radius: 12px;
    }

    
    .section-navigation__a {
        color: var(--text-light-color);
        font-size: 24px;
        font-weight: 600;
    }

    .section-navigation__a::after {
        content: '';
        background-image: url('../../assets/img/enter.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        right: 65px;
    }

    .section-container__text {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    
    .container-participant {
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        min-width: 700px;
    }

    .section-participant{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .section-participant figure{
        margin-bottom: 10px;
    }

    .section-participant figure img{
        border-radius: 10px;
        margin-top: 10px;
    }

    [data-photo] {
        width: 300px;
    }


    .section-icon__figure{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .section-icon__figure{
        margin-top: 10px;
    }

    .section-icon__figure img{
        width: 40px;
        cursor: pointer;
        transition: 0.3s ease-in-out ;
            &:hover {
                transform: scale(1.05);
            }
    }

    .footer {
        width: 100%;
        background-color: var(--primary-color);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .footer p {
        font-size: 16px;
        color: var(--text-light-color);
        max-width: 80%;
        text-align: center;
    }

    .footer__figure {
        display: flex;
        flex-direction: row;
        gap: var(--gap-mobile);
    }

    .footer__figure a img {
        &:active {
            transform: scale(1.04);
            transition: 1s;
        }
    }

    .footer__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav__ul li a{
        font-size: 16px;
        font-weight: 300;
            &:active {
                transform: scale(1.04);
                color: var(--secondary-color)
            }
    }
LAP TO0PP
-------------------------------------------------------

pc

.footer {
        width: 100%;
        background-color: var(--primary-color);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .footer p {
        font-size: 16px;
        color: var(--text-light-color);
        min-width: 100%;
        text-align: center;
    }

    .footer__figure {
        display: flex;
        flex-direction: row;
        gap: var(--gap-mobile);
        margin: 0 auto;
    }

    .footer__figure a img {
        &:hover {
            transform: scale(1.04);
        }
    }
    .footer__nav {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .nav__ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .nav__ul li a{
        font-size: 16px;
        font-weight: 300;
            &:hover {
                transform: scale(1.04);
                color: var(--secondary-color);
            }
    }
}